.selectorStrip{
    position: relative;
    max-width: 1200px;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    border-radius: 10px;
    font-family: 'Figtree', sans-serif;
    flex-grow: 1;
}

.selectorButton{
    cursor: pointer;
    background-color: rgba(129, 126, 126, 0.2);
    color: #ffffff;
    min-width: 10rem;
    width: 10rem;
    min-height: 10rem;
    height: 10rem;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}

.back{
    height: 50%;
}

.selectorButton:hover{
    background-color: rgba(129, 126, 126, 0.41);
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

@media only screen and (max-width: 600px) {
    .selectorStrip{
        margin-top: 40rem;
        flex-direction: column;
    }

    .selectorButton{
        margin: 0;
    }
}