.footerContainer {
    position: relative;
    height: 8rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: 'Figtree', sans-serif;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.76);
}

.footerBar{
    position: relative;
    bottom: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footerItem{
    margin: 0 1rem;
    padding: 10px;
    transition: all ease-in-out 0.15s;
}

.clickable{
    cursor: pointer;
}

.clickable:hover{
    color: white;
    background-color: #1DB954;
}

.logoutButton{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.2s;
    font-family: 'Figtree', sans-serif;
}

.logoutButton:hover{
    border-radius: 0;
}
@media only screen and (max-width: 600px) {
    .footerContainer{
        height: 10rem;
        width: 100%;
        margin-bottom: 5%;
        margin-top: 10%;
    }
    .footerBar{
        bottom: 0;
        height: 80%;
        flex-direction: column;
    }
    .footerItem{
        margin: 0 1rem;
        padding: 5px;
        transition: all ease-in-out 0.15s;
    }
}