.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 2.8rem;
    padding: 0.3rem 0 0.3rem;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
}

.cardContainer:hover{
    background-color: #2a2929;
}

.cardContainer:hover .text{
    color: #ffffff;
}

.cardContainer>.albumArt{
    aspect-ratio : 1 / 1;
    height: 2.8rem;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text{
    margin: 0;
    font-family: 'Figtree', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 530;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.68);
}

.trackInfo{
    padding-right: 1rem;
    width: 40%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.trackInfo>h3{
    height: 55%;
    font-size: 1rem;
    color: white;
}

.trackInfo>p{
    height: 45%;
}

.albumInfo{
    width: 30%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

.addedAt{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .albumInfo{
        display: none;
    }

    .cardContainer{
        justify-content: space-evenly;
        padding: 0.3rem 0 0.3rem;
    }
}
